{% extends "layout.html" %}


{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-sample-image.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{blog.title}}</h1>
            <h6 class="">Posted by admin {{blog.date}}</h6>
            
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p></p>

          <h2 class="section-heading">{{blog.title}}</h2>
           <p>{{blog.content}}</p>
           <span class="meta">Posted by
              <a href="#">Founder of this website at</a>
             {{blog.date}}</span>
             <hr>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
